@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.bluetext{
    margin-top: 30px;
    margin-left: 35px;
    width: fit-content;
    color: #278AE6;
    text-align: center;
    padding: 10px;
    /* M3/label/large - prominent */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.1px;
    color: rgba(103, 80, 164, 1);
}