*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.avatarflex{
    display: flex;
    justify-content: center;
   
}
.teacherlogout{
    color: var(--m-3-sys-light-error, #B3261E);
text-align: center;

/* M3/label/large */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
letter-spacing: 0.1px;

}
/* .logoutbt{
    background-color: transparent;
    border: none;
    text-transform: "capitalize";
} */
.teachername1{
    color: var(--Primary-Black, #121329);

/* M3/body/large */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
text-align: center;
margin-top: 22px;
}
.teachersubject1{
    color: var(--m-3-sys-light-secondary, #625B71);

/* M3/body/medium */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.25px;
text-align: center;
}
.studentsaddedtext1{
    color: var(--Mini-Title, #3E3E3E);
text-align: center;

/* M3/body/medium */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.25px;
text-align: center;
margin-top: 155px;
}

.dropdownbox{
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;  
}
th {
    background-color: #ccc;
}

.inputs_container {
 margin: 0;
 padding: 0;
white-space: nowrap;
width: 70px;
}
.inputs {
    margin:0;
    padding: 0;
width: 100%;
height: 100%;
white-space: nowrap;
border: none;
text-align: center;
font-size: 20px;

}


/* 
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0px; 
  }
  
  .cell {
    border: 1px solid #000;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .cell[rowspan="4"] {
    grid-row: span 4;
  }
  
  .cell[colspan="10"] {
    grid-column: span 10;
  }
 */

  
